*{
  margin: 0;
}
h1,h2,h3,h4,h5,h6,p{
  margin-top: 12px;
  margin-left: 100px;
  color: white;
  text-shadow: 2px 2px #ff0000;
  text-decoration-color: rgba(0,0,0,0);
}
h1.name{
  margin-top: 0px;
  margin-left: 380px;
  font-size: 80;
}
h1.cfm{
  text-align: center;
  margin-right: 80px;
}
p.aboutme{
  text-align: left;
  font-size: 25;
}
nav{
 background-color: rgba(0,0,0,0);
 position: fixed;
 width: 100%;
 height: 50px;
 z-index: 99;
}
nav a{
  float: right;
  color: white;
  text-shadow: 2px 2px #ff0000;
  padding: 14px;
  text-decoration: none;
}
.sect{
  height: 100%;
  background-color: red;
  background-repeat:no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.subSect{
  height: 60%;
  background-color: #D3E1E7;
}
.sectOne{
background-image:url(jk1.jpg);
}
.sectTwo{
background-image:url(jk3.jpg);
}
.sectThree{
background-image:
}
